
body{
	font-family: Arial, sans-serif;
	padding: 0 ;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#home-page{
	background-color: #103441;
    background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?auto=format&fit=crop&w=1920&q=80');
	display: flex;
	flex-direction: column;
	height: 98vh;
}

header {
	background-color: #031a23;
    padding: 8px 10px;
    display: flex;
	justify-content: space-between;
	align-items: center;
}

#header-text{
	color: white;
	font-size: 28px;
	margin: 0;
	padding: 0;
	font-weight: 900;
}

header ul{
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 20px;
	
}

header ul li{
	list-style: none;
	padding: 5px;
}

header ul li a{
	color: white;
	text-decoration: none;
}

section{
	padding: 10px;
}

#hero {
    display: block;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_page p{
	color: white;
	font-size: 40px;
	padding: 10px 10px;
	font-family: sans-serif;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-align: center;
}

h2{
	color: white;
	background-color: #031a23;
	font-size: 25px;
	text-align: center;
	padding: 5px 5px;
	margin: 5px 0;
	border-radius: 15px;
}

#profile{
	background-color: #cbdde3;
	height: 98vh;
}

.profile-section{
	margin-top: 50px;
}

#profile h3{
	padding: 5px 5px;
	margin-bottom: 30px;
}

#profile p{
	font-size: 16px;
	padding: 5px 5px;
}

#activities{
	background-color: #52969f;
     background-image: url('https://images.unsplash.com/photo-1461896836934-ffe607ba8211?auto=format&fit=crop&w=1920&q=80');
	background-size: cover;
	height: 98vh;
}

.activity-container {
	margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-section, .past-activities {
	background-color: #22565d;
    padding: 20px;
    border: 3px solid ;
    border-radius: 15px;
    width: 45%;
}

#activities h3{
	padding: 5px 5px;
	margin-bottom: 20px;
	text-align: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

form select, form input, form button {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #031416;
    border-radius: 10px;
    background-color: #9ab8bb;
}

.past-activities ul {
    list-style-type: none;
    padding: 0;
}

.past-activities li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#dashboard{
	background-color: #d4edda;
	height: 90vh;
}

.dashboard-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.dashboard-container div {
    background: #fff;
    padding: 20px;
    border: 2px solid #031416;
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

.dashboard-container div h3{
	padding: 10px 5px;
}

.dashboard-container div p{
	padding: 5px 5px;
	text-align: center;
}
#contact{
	background-color: #c4cfc7;
}

#contact #contributors{
	margin: 30px 0;
	display: flex;
	justify-content: space-around;
	gap: 50px;
}

#contributors p{
	padding: 5px 5px;
	width: 200px;
}

.footer{
	background-color: #1F2930;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 30px;
	margin-top: 20px;
}
